@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include backgroundMix;
  background: $primary-color;
  color: setTextColor($primary-color);
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 50px);
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.5rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    padding-top: 20vh;
  }
}

// ABOUT PAGE STUFF

.about-info {
  display: grid;
  grid-template-areas:
    "bioimage bio bio"
    "project1 project2 project3";
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: $secondary-color 3px solid;
  width: 250px;
  height: 250px;
}

.bio {
  grid-area: bio;
  font-size: 1.5rem;
}

.project {
  background: lighten($primary-color, 5);
  padding: 0.5rem;
  border-bottom: $secondary-color 5px solid;
}

.project-1 {
  grid-area: project1;
}

.project-2 {
  grid-area: project2;
}

.project-3 {
  grid-area: project3;
}

//WORK PAGE

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  img {
    width: 200px;
    height: 200px;
    border: 3px #fff solid;
    &:hover {
      opacity: 0.6;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

//Button Styles   (BOOTSTRAP DOES IT IN DIFF SCSS FILES !)
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: setTextColor($secondary-color);
    @include easeOut;
  }
}

.btn-dark {
  @extend .btn; //Extending default button style...
  background: darken($primary-color, 50);
  color: setTextColor($primary-color);
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 20);
  color: setTextColor($primary-color);
}

// Contact pages
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: setTextColor($secondary-color);
      span,
      i,
      a {
        color: setTextColor($secondary-color);
      }
    }
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: setTextColor($primary-color);
  height: 50px;
  border-bottom: $secondary-color 1px solid;
}

@import "mobile";
