@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include backgroundMix;
  background: $primary-color;
  color: setTextColor($primary-color);
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;

  &.lg-heading {
    font-size: 5.5rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 1rem 2rem;
  // height: 100%;
  min-height: calc(100vh - 50px);
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.5rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    padding-top: 20vh;
  }
}

// ABOUT PAGE STUFF

.about-info {
  display: grid;
  grid-template-areas:
    "bioimage bio bio"
    "project1 project2 project3";
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: $secondary-color 3px solid;
  width: 250px;
  height: 250px;
}

.bio {
  grid-area: bio;
  font-size: 1.5rem;
}

.project {
  background: lighten($primary-color, 5);
  padding: 0.5rem;
  border-bottom: $secondary-color 3px solid;
  border-radius: 7px;
}

.project-1 {
  grid-area: project1;
}

.project-2 {
  grid-area: project2;
}

.project-3 {
  grid-area: project3;
}

//WORK PAGE

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-columns: repeat(auto-fill, minmax(250px,1fr));     //Cool way of doing the above as well!
  grid-gap: 15px;
  grid-auto-rows: 3px; // Temporary Disable

  // Image styling not needed (for now)
  // img {
  //   width: 200px;
  //   height: 200px;
  //   border: 2px $secondary-color solid;
  //   // align-self: center;
  //   &:hover {
  //     opacity: 0.6;
  //     border-color: $secondary-color;
  //     @include easeOut;
  //   }
  // }
  // background: $primary-light;
  .item {
    background: lighten($primary-color, 5);
    padding: 7px;
    border-radius: 7px;
    border-bottom: $secondary-color 3px solid;
    // position: relative;
  }
}

//Button Styles   (BOOTSTRAP DOES IT IN DIFF SCSS FILES !)
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.2rem;
  &:hover {
    background: $secondary-color;
    color: setTextColor($secondary-color);
    @include easeOut;
  }
}

.btn-dark {
  @extend .btn; //Extending default button style...
  background: #0366d6;
  color: setTextColor($primary-color);
  // padding: 0.5rem 0;

  &.bottom {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    // position: relative;
  }

  &.top {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  //Use "top bottom" for middle level button. TODO - Improve this.
}

.btn-light {
  @extend .btn;
  background: $primary-green;
  // background: lighten($primary-color, 20);
  // padding: 0.5rem 0rem;
  margin-bottom: 0.1rem;
  color: setTextColor($primary-color);

  &.bottom {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  &.top {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  //Use "top bottom" for middle level button. TODO - Improve this.
}

// Contact pages
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: setTextColor($secondary-color);
      span,
      i,
      a {
        color: setTextColor($secondary-color);
      }
    }
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: setTextColor($primary-color);
  height: 50px;
  border-bottom: $secondary-color 1px solid;
}

//CARD LOADER FOR ITEMS

.card-loader {
  background-color: lighten($primary-color, 5);
  // box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.08),
  //   0 -1px 3px 0 rgba(0, 0, 0, 0.06);
  padding: 10px;
  position: relative;
  border-radius: 7px;
  margin-bottom: 0;
  height: 200px;
  overflow: hidden;

  &:only-child {
    margin-top: 0;
  }

  &:before {
    content: "";
    height: 110px;
    display: block;
    background-color: $primary-light;
    box-shadow: -48px 78px 0 -48px $primary-light,
      -51px 102px 0 -51px $primary-light;
  }

  &:after {
    content: "";
    background-color: #333;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: loader-animate;
    animation-timing-function: linear;
    background: -webkit-linear-gradient(
      right,
      rgba($secondary-color, 0) 0%,
      rgba($secondary-color, 0.4) 30%,
      rgba($secondary-color, 0) 80%
    );
    background: -o-linear-gradient(
      right,
      rgba($secondary-color, 0) 0%,
      rgba($secondary-color, 0.4) 30%,
      rgba($secondary-color, 0) 80%
    );
    background: linear-gradient(
      to left,
      rgba($secondary-color, 0) 0%,
      rgba($secondary-color, 0.4) 30%,
      rgba($secondary-color, 0) 80%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
  }
}

// rgba(255, 255, 255, 0) 0%,
//       rgba(255, 255, 255, 0.6) 30%,
//       rgba(255, 255, 255, 0) 81%

// Loader animation
@keyframes loader-animate {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@import "mobile";
